<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Getting Started with Node.js</title>
    <style>
      body {
        background-color: #2dc0ff;
      }

      h1 {
        color: black;
        font-size: 30px;
        font-family: Menlo, Monaco, fixed-width;
      }

      p {
        color: rgb(27, 124, 184);
        font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
      }
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>This is a very basic "Hello World" example made up in HTML and CSS.</p>
  </body>
</html>
